Frontend/webapp/config.json
Frontend/Dockerfile
Frontend/anomaly_eth/Preprocessed_dataset.csv

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Config file
/Frontend/webapp/config.json
/Backend/docker-compose.yml
**/config.json
