@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

.DateInput_input, .DateInput_input_1 {
    height: 20px;
    width: 100%;
}

.DateRangePicker {
    display: block;
}

/* create hover tooltip for cryptocurrency dropdown */
.disabled-info-div .disabled-info {
    visibility: hidden;
    background-color: #fff;
    color: black;
    text-align: center;
    border-radius: 5px;
    padding: 5px 3px 5px 3px;
    width: 160px;
    /* positioning tooltip at right side */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%; 
}

.disabled-info-div:hover .disabled-info {  
    visibility: visible;  
}

/* arrow of cryptocurrency dropdown's tooltip */
.disabled-info-div .disabled-info::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #fff transparent transparent;
}

/* create hover tooltip on top of date range picker */
.date-picker-div .date-picker-text {  
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 3px 5px 3px;
    /* positioning tooltip at top */
    position: absolute;
    z-index: 1;
    width: 240px;
    bottom: 100%;
    left: 50%;
    margin-left: -120px;  
} 

.date-picker-div:hover .date-picker-text {  
    visibility: visible;  
}

/* arrow for tooltip of date range picker */  
.date-picker-div .date-picker-text::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.list-group-item-action:hover {
    color: #336291c0;
}

.list-group-item-active {
    background-color: #336291c0;
}

.accordion-button {
    text-align: center;
    font-weight: 500;
    height: 25px;
    background-color: #E8EBEE99;
}

.accordion-button:active, .accordion-button:not(.collapsed) {
    color: white;
    background-color: #354447; 
}

.accordion-button:focus {
    outline: 0 !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFF'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}